<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
</head>
<body>

<h1> <%= kindOfDay %> </h1>

<ul>
    <li>Buy Food</li>
    <li>Cook Food</li>
    <li>Eat Food</li>
</ul>

<form method="post" action="/" class="">
    <input type="text" name="newItem">
    <button type="submit" name="button">Add</button>
</form>


</body>
</html>