<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

    <div class="box" id="heading">
        <h1> <%= kindOfDay %> </h1>
    </div>

    <div class="box">
        <% for(var i=0; i<newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
            <% } %>
            <form method="post" action="/" class="item">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
    </div>

</body>
</html>